bin/
include/
lib/
pyvenv.cfg
share/
src/FineTuning/
src/FineTuning_2/
src/FineTuning_3/
src/FineTuning_4/
src/FineTuning_5/
src/FineTuning_6/
src/FineTuning_7/
src/FineTuning_8/
src/FineTuning_9/
src/FineTuning_10/
src/FineTuning_12/
src/logs/
src/util/__pycache__/
src/FineTuning_11/my-llama2-chat-hf-llm/*.safetensors
src/FineTuning_11/my-llama2-chat-hf-llm/autotrain-data/
src/Quantized_Models/my-llama2-chat-hf-llm-quantized-model/
src/Quantized_Models/llama2-quantized_11/*.safetensors